[submodule "packages/teams"]
	path = packages/teams
	url = https://aur.archlinux.org/teams.git
[submodule "software/pureline"]
	path = software/pureline
	url = https://github.com/NeoKanashibari/pureline.git
[submodule "software/st"]
	path = software/st
	url = https://git.suckless.org/st
[submodule "software/dmenu"]
	path = software/dmenu
	url = https://git.suckless.org/dmenu
[submodule "software/polybar"]
	path = software/polybar
	url = https://github.com/polybar/polybar.git
[submodule "software/waybar"]
	path = software/waybar
	url = https://github.com/Alexays/Waybar.git
[submodule "software/nerd-fonts"]
    shallow = true
	path = software/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
