set $term        systemctl --user start alacritty@$(date +"%Y%m%d-%H%M%S")
set $netexplorer systemctl --user start firefox@$(date +"%Y%m%d-%H%M%S")
set $altnet      systemctl --user start chromium@$(date +"%Y%m%d-%H%M%S")
set $screenshot grim -g "$(slurp)" ~/shots/scrn-$(date +"%Y%m%d-%H%M%S").png
# set $menu dmenu_path | dmenu | xargs swaymsg exec --
