bindsym $mod+a kill

bindsym $mod+e exec $img_editor
bindsym $mod+Shift+e exec $alt_img_editor

bindsym $mod+t exec $term

bindsym $mod+f exec $netexplorer
bindsym $mod+Shift+f exec $altnet

bindsym $mod+b exec qtcreator
bindsym $mod+Shift+b exec code

bindsym $mod+c exec discord
bindsym $mod+Shift+c exec teams

bindsym $mod+Shift+s exec $screenshot
bindsym $mod+Shift+m exec thunderbird

