bindsym $mod+a kill
bindsym $mod+t exec $term
bindsym $mod+f exec $netexplorer
bindsym $mod+b exec qtcreator
bindsym $mod+Shift+b exec code
bindsym $mod+Shift+f exec $altnet
bindsym $mod+Shift+s exec $screenshot
bindsym $mod+Shift+m exec thunderbird 
bindsym $mod+c exec discord
bindsym $mod+Shift+c exec teams


